
      * {
        box-sizing: border-box;
    }
    
    html, body {
        text-align: center;
        width:960px;
        margin: auto;
        height: 100%;
    }
    
    body > * {
        border: 1px solid #000;
    }
    
    body>header{
        background-color: brown;
        color: #eee; 
        height: 100px;
        line-height: 70px;
        text-align: center;
    }
    
    
    main {
        background: #fafa;
    }