/* for disktop */
@media (min-width:768px){
   
    main{
        /* grid-template-rows:37.57% 39% 23.5% ; */
        grid-template-rows:fit-content(200px) auto auto ;
        display: grid;
        grid-template-columns:200px ;
        /* height:calc(100% - 250px); */
    }
    main>*{
     text-align: center;
        border:1px solid; 
    }
    .cont1{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-column-start: 2;
        grid-column-end:4;
    }
    .cont1>*{
         border:1px solid;
         border-top:none;
         border-bottom:none;
    }
    .cont2{
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-column-start: 2;
        grid-column-end:4;
    }
    .cont2>*{
     border:1px solid;
     border-top:none;
     border-bottom:none;
    }
    #b{
     line-height: 4000%;
     border-top:none;
     grid-row-start: 1;
     grid-row-end:4 ;
        /* width: 200px; */
     background-color: lightcoral;
    }
    #c{
     border-left:none;
     background-color: red;
 
    }
   
    #d{
     border-right:none;
     background-color: yellow;
     
    }
    #e{
     border-left:none;
     background-color: green;
    }
    #f{
     background-color: blueviolet;
    }
    #g{
     background-color: lawngreen;
    }
  
    #h{
     border-right:none;
     background-color: blue;
     
    }
   
    #i{
     grid-column-start: 2;
     grid-column-end:4;
     background-color: mediumspringgreen;
    }
 
 
 
 }
 /* for mobile */
 @media(max-width:767px){
     main{
         display: flex;
         flex-direction: column;
     }
     main>*{
         border:1px solid; 
     }
     .cont1{
         display: flex;
         flex-direction: column;
     }
     .cont1>*{
         height: 125px;
         justify-content: center;
         align-items: center;
          border:1px solid;
          border-bottom:none;
          border-top:none;
     }
     .cont2{
         justify-content: center;
         align-items: center;
         display: flex;
         flex-wrap: wrap;
     }
     .cont2>*{
         height: 250px;
         width: 50%;
         border:1px solid;
         /* border-top:none; */
         border-bottom:none;
     }
     #a{
         height: 75px;
     }
     #b{
         height: 150px;
      border-top:none;
      background-color: gray;
     }
     #c{
      border-left:none;
      border-top:none;
      background-color: rgb(56, 51, 51);
  
     }
    
     #d{
         border-top:2px solid;
         border-right:none;
         border-left:none;
         border-bottom:none;
         background-color: red;
      
     }
     #e{
     
      border-left:none;
      background-color: blue;
     }
     #f{
      background-color: blueviolet;
     }
     #g{
         border-top:2px solid;
      background-color: lawngreen;
      border-left:none;
     }
   
     #h{
         border-top:2px solid;
      border-right:none;
      background-color: navajowhite;
      
     }   
     #i{
         line-height: 70px;
         height: 80px;
      background-color: mediumspringgreen;
     }
  
 
 }
 